<footer class="footer container">
    <div class="footer-menu footer">
        
    </div>
    <div class="footer-text">
        <div class="text-center footer">© 2019 DLang China.</div>
    </div>
</footer>
<script type="text/javascript" src="/js/vendors.min.js"></script>
<script type="text/javascript" src="/js/assets.min.js"></script>
<script type="text/javascript" src="/js/index.min.js"></script>
<script src="/js/jquery-3.4.0.min.js"></script>
<script src="/js/jquery.timeago.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        $("time.timeago").timeago();
    });
</script>
</body>
</html>