{% include "../../header.html" %}
{% include "../../navigation.html" %}

        <div class="wrapper">
            <div class="container-fluid">
                <!-- Page-Title -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="page-title-box">
                            <div class="btn-group pull-right">
                                <h4 class="page-title">Welcome!</h4>
                            </div>
                            <ol class="breadcrumb hide-phone p-0 m-0">
                                <li class="breadcrumb-item"><a href="#">HuntCMS</a></li>
                                <li class="breadcrumb-item active">Dashboard</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <!-- end page title end breadcrumb -->

            </div>
            <!-- end container -->
        </div>
        <!-- end wrapper -->

{% include "../../footer.html" %}
